# Week5 - Logistic Regression Assignment

- Run the below cells.
- Complete all of the numbered questions. You may call any packages that we've used in class.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/classification/loan_status_data/loan_status.csv')

## Data Definitions

<ul>
<li><strong>Loan_ID</strong>: A unique loan ID.</li>
<li><strong>Gender</strong>: Either male or female.</li>
<li><strong>Married</strong>: Weather Married(yes) or Not Marttied(No).</li>
<li><strong>Dependents</strong>: Number of persons depending on the client.</li>
<li><strong>Education</strong>: Applicant Education(Graduate or Undergraduate).</li>
<li><strong>Self_Employed</strong>: Self-employed (Yes/No).</li>
<li><strong>ApplicantIncome</strong>: Applicant income.</li>
<li><strong>CoapplicantIncome</strong>: Co-applicant income.</li>
<li><strong>LoanAmount</strong>: Loan amount in thousands.</li>
<li><strong>Loan_Amount_Term</strong>: Terms of the loan in months.</li>
<li><strong>Credit_History</strong>: Credit history meets guidelines.</li>
<li><strong>Property_Area</strong>: Applicants are living either Urban, Semi-Urban or Rural.</li>
<li><strong>Loan_Status</strong>: Loan approved (Y/N).</li>
</ul>

In [2]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
4,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            381 non-null    object
 1   Gender             376 non-null    object
 2   Married            381 non-null    object
 3   Dependents         373 non-null    object
 4   Education          381 non-null    object
 5   Self_Employed      360 non-null    object
 6   ApplicantIncome    381 non-null    int64
 7   CoapplicantIncome  381 non-null    float64
 8   LoanAmount         381 non-null    float64
 9   Loan_Amount_Term   370 non-null    float64
 10  Credit_History     351 non-null    float64
 11  Property_Area      381 non-null    object
 12  Loan_Status        381 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 38.8+ KB

In [4]:
df.value_counts().head(3)

Loan_ID   Gender  Married  Dependents  Education     Self_Employed  ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  Property_Area  Loan_Status
LP001003  Male    Yes      1           Graduate      No             4583             1508.0             128.0       360.0             1.0             Rural          N              1
LP002288  Male    Yes      2           Not Graduate  No             2889             0.0                45.0        180.0             0.0             Urban          N              1
LP002318  Female  No       1           Not Graduate  Yes            3867             0.0                62.0        360.0             1.0             Semiurban      N              1
Name: count, dtype: int64

In [5]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,381.000000,381.000000,381.000000,370.000000,351.000000
mean,3579.845144,1277.275381,104.986877,340.864865,0.837607
std,1419.813818,2340.818114,28.358464,68.549257,0.369338
min,150.000000,0.000000,9.000000,12.000000,0.000000
25%,2600.000000,0.000000,90.000000,360.000000,1.000000
50%,3333.000000,983.000000,110.000000,360.000000,1.000000
75%,4288.000000,2016.000000,127.000000,360.000000,1.000000
max,9703.000000,33837.000000,150.000000,480.000000,1.000000

# Question 1
- Any data quality issues/concerns? 
- Any clean up needed?

Insert comments here

In [23]:
# code  
df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      9
Credit_History       30
Property_Area         0
Loan_Status           0
dtype: int64

we could see that data is missing ,so iam filling it up using mean meathod

In [24]:
data = df.fillna(df.mean())

TypeError: Could not convert ['LP001003LP001005LP001006LP001008LP001013LP001024LP001029LP001030LP001032LP001034LP001036LP001038LP001043LP001047LP001068LP001073LP001086LP001095LP001097LP001098LP001109LP001112LP001116LP001119LP001120LP001123LP001131LP001136LP001137LP001138LP001144LP001146LP001151LP001155LP001157LP001164LP001179LP001194LP001195LP001197LP001199LP001205LP001206LP001222LP001228LP001238LP001241LP001245LP001248LP001250LP001255LP001259LP001264LP001265LP001275LP001279LP001280LP001282LP001316LP001319LP001322LP001325LP001327LP001333LP001334LP001343LP001345LP001367LP001384LP001385LP001405LP001430LP001431LP001432LP001443LP001473LP001478LP001482LP001487LP001489LP001491LP001493LP001507LP001514LP001518LP001520LP001528LP001532LP001535LP001560LP001565LP001572LP001577LP001578LP001579LP001586LP001603LP001606LP001608LP001616LP001630LP001634LP001636LP001639LP001641LP001643LP001653LP001658LP001664LP001669LP001671LP001674LP001688LP001691LP001692LP001693LP001698LP001699LP001702LP001711LP001715LP001716LP001720LP001722LP001726LP001734LP001736LP001743LP001744LP001750LP001765LP001770LP001778LP001788LP001790LP001792LP001798LP001800LP001807LP001811LP001813LP001814LP001819LP001824LP001825LP001836LP001841LP001849LP001854LP001864LP001868LP001871LP001872LP001877LP001884LP001888LP001892LP001894LP001896LP001900LP001904LP001908LP001914LP001915LP001917LP001924LP001925LP001926LP001931LP001936LP001938LP001940LP001954LP001963LP001964LP001974LP001977LP001978LP001993LP001994LP002002LP002004LP002006LP002008LP002031LP002035LP002036LP002043LP002051LP002053LP002055LP002068LP002086LP002087LP002097LP002098LP002114LP002116LP002126LP002131LP002141LP002142LP002143LP002151LP002158LP002161LP002175LP002178LP002180LP002181LP002187LP002188LP002205LP002211LP002219LP002223LP002224LP002225LP002234LP002236LP002239LP002244LP002250LP002263LP002265LP002266LP002272LP002277LP002281LP002284LP002287LP002288LP002296LP002297LP002300LP002305LP002308LP002314LP002318LP002332LP002337LP002345LP002347LP002348LP002357LP002361LP002362LP002366LP002367LP002368LP002369LP002370LP002377LP002379LP002387LP002390LP002398LP002407LP002418LP002429LP002434LP002443LP002446LP002447LP002448LP002449LP002453LP002455LP002459LP002472LP002484LP002493LP002494LP002500LP002505LP002517LP002519LP002522LP002536LP002537LP002544LP002545LP002556LP002560LP002571LP002585LP002586LP002587LP002588LP002600LP002603LP002606LP002618LP002619LP002637LP002643LP002648LP002659LP002670LP002684LP002689LP002690LP002692LP002705LP002714LP002716LP002720LP002723LP002738LP002739LP002741LP002743LP002755LP002757LP002768LP002772LP002776LP002777LP002789LP002792LP002794LP002807LP002821LP002833LP002836LP002837LP002840LP002841LP002863LP002868LP002874LP002877LP002893LP002894LP002898LP002911LP002916LP002917LP002926LP002928LP002936LP002940LP002953LP002974LP002978LP002979LP002990'
 'MaleMaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleFemaleMaleFemaleMaleMaleMaleMaleFemaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleFemaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleFemaleMaleMaleFemaleFemaleMaleMaleMaleMaleMaleFemaleMaleMaleFemaleMaleFemaleMaleFemaleMaleMaleMaleFemaleMaleMaleFemaleMaleMaleFemaleFemaleFemaleMaleFemaleMaleMaleMaleMaleFemaleMaleMaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleMaleMaleFemaleFemaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleFemaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleMaleFemaleMaleMaleMaleFemaleMaleMaleMaleFemaleMaleMaleMaleFemaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleFemaleFemaleMaleMaleMaleMaleMaleMaleFemaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleFemaleMaleFemaleMaleMaleFemaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleFemaleMaleMaleMaleFemaleMaleMaleMaleMaleMaleMaleFemaleMaleFemale'
 'YesYesYesNoYesYesNoYesNoNoNoYesYesYesYesYesNoNoNoYesYesYesNoNoNoYesYesYesNoYesYesYesNoYesNoNoYesYesYesYesYesYesYesNoNoYesNoYesNoYesNoYesYesNoYesNoYesYesYesYesNoNoYesYesYesYesYesYesYesNoYesNoNoYesNoNoNoYesNoYesYesYesYesYesYesYesNoYesNoYesYesYesYesYesNoYesYesYesYesYesNoNoYesYesYesYesNoNoNoNoYesYesYesYesNoNoNoNoNoYesYesYesYesYesYesYesYesYesNoYesYesNoYesNoNoYesYesYesYesYesNoYesYesYesYesNoNoNoYesYesNoNoNoYesNoNoNoYesYesYesYesYesYesYesNoNoNoYesNoYesYesYesYesYesYesNoYesNoNoNoNoNoNoYesYesYesYesNoYesYesNoNoYesNoNoNoNoNoYesYesYesYesYesYesYesNoYesYesNoNoNoNoNoYesYesYesNoYesNoYesNoYesYesYesYesYesYesNoYesNoNoYesNoNoNoNoYesNoNoYesNoYesYesYesNoYesYesYesNoYesYesNoNoNoYesNoNoYesNoYesYesYesYesYesYesYesNoYesYesNoYesNoNoYesYesYesYesNoYesYesYesNoNoNoNoYesYesYesYesYesNoNoYesYesNoYesYesYesYesNoYesNoYesYesNoNoYesNoNoYesYesNoYesYesNoNoNoYesYesYesNoYesNoYesNoYesNoYesYesYesNoYesNoYesYesYesYesNoYesYesYesNoYesYesNoYesNo'
 '1000020201000002001000000000010000002200203+003+0203+013+0102002000000213+010020000002200100200100003+002100001000000112000003+3+03+00202001010112120021102003+3+0002100021000200000022110010000002120103+000010003+23+00101000000103+00202000022200002000000100000001012001000003+122220002023+003+013+03+0120000100100100203+20203+0103+2201010000001020003+003+20100110020003+003+0'
 'GraduateGraduateNot GraduateGraduateNot GraduateGraduateGraduateGraduateGraduateNot GraduateGraduateNot GraduateNot GraduateNot GraduateGraduateNot GraduateNot GraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateNot GraduateNot GraduateGraduateNot GraduateGraduateNot GraduateGraduateGraduateNot GraduateGraduateGraduateGraduateNot GraduateGraduateGraduateNot GraduateGraduateNot GraduateGraduateGraduateNot GraduateGraduateNot GraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateNot GraduateNot GraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateNot GraduateGraduateNot GraduateNot GraduateNot GraduateNot GraduateGraduateNot GraduateGraduateGraduateGraduateNot GraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateNot GraduateGraduateGraduateNot GraduateGraduateGraduateGraduateNot GraduateNot GraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateNot GraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateNot GraduateGraduateNot GraduateNot GraduateGraduateNot GraduateGraduateNot GraduateNot GraduateNot GraduateNot GraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateNot GraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduateNot GraduateNot GraduateGraduateNot GraduateGraduateNot GraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateNot GraduateGraduateGraduateNot GraduateGraduateNot GraduateGraduateGraduateNot GraduateNot GraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateNot GraduateNot GraduateNot GraduateGraduateGraduateGraduateGraduateNot GraduateNot GraduateGraduateGraduateGraduateNot GraduateNot GraduateGraduateGraduateGraduateNot GraduateGraduateGraduateNot GraduateNot GraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateNot GraduateNot GraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateNot GraduateGraduateGraduateGraduateGraduateGraduate'
 'NoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoYesNoNoNoYesYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoYesNoYesNoNoNoNoNoYesNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoYesNoYesNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoNoNoNoNoNoNoNoNoYesNoNoNoNoNoNoNoYes'
 'RuralUrbanUrbanUrbanUrbanUrbanRuralUrbanUrbanUrbanUrbanRuralUrbanSemiurbanSemiurbanUrbanUrbanUrbanRuralSemiurbanUrbanSemiurbanSemiurbanUrbanUrbanUrbanSemiurbanUrbanUrbanUrbanUrbanUrbanSemiurbanSemiurbanSemiurbanSemiurbanUrbanSemiurbanSemiurbanRuralUrbanUrbanUrbanSemiurbanUrbanUrbanSemiurbanSemiurbanSemiurbanSemiurbanUrbanUrbanSemiurbanSemiurbanUrbanSemiurbanSemiurbanSemiurbanSemiurbanUrbanSemiurbanSemiurbanSemiurbanSemiurbanSemiurbanSemiurbanUrbanUrbanSemiurbanUrbanUrbanSemiurbanSemiurbanSemiurbanRuralUrbanSemiurbanSemiurbanSemiurbanRuralUrbanRuralSemiurbanSemiurbanUrbanSemiurbanRuralRuralUrbanSemiurbanSemiurbanUrbanRuralRuralSemiurbanRuralSemiurbanRuralRuralSemiurbanUrbanRuralSemiurbanSemiurbanRuralRuralRuralSemiurbanRuralUrbanSemiurbanSemiurbanUrbanSemiurbanSemiurbanUrbanRuralUrbanSemiurbanSemiurbanRuralUrbanSemiurbanRuralSemiurbanSemiurbanUrbanSemiurbanSemiurbanSemiurbanSemiurbanRuralSemiurbanUrbanRuralSemiurbanRuralUrbanRuralSemiurbanUrbanUrbanUrbanSemiurbanUrbanUrbanRuralRuralUrbanSemiurbanSemiurbanRuralSemiurbanSemiurbanUrbanUrbanRuralSemiurbanSemiurbanSemiurbanUrbanRuralSemiurbanUrbanUrbanRuralSemiurbanRuralSemiurbanRuralSemiurbanUrbanUrbanUrbanUrbanRuralUrbanRuralRuralUrbanSemiurbanSemiurbanRuralRuralUrbanSemiurbanUrbanSemiurbanSemiurbanSemiurbanRuralRuralUrbanUrbanUrbanSemiurbanSemiurbanRuralSemiurbanUrbanRuralRuralSemiurbanUrbanUrbanSemiurbanUrbanUrbanRuralRuralSemiurbanRuralUrbanUrbanRuralSemiurbanUrbanUrbanUrbanUrbanSemiurbanUrbanRuralUrbanSemiurbanUrbanSemiurbanUrbanUrbanRuralSemiurbanUrbanRuralSemiurbanSemiurbanSemiurbanUrbanRuralSemiurbanRuralUrbanRuralSemiurbanRuralUrbanUrbanUrbanRuralRuralSemiurbanRuralUrbanSemiurbanRuralSemiurbanUrbanSemiurbanRuralSemiurbanRuralRuralRuralRuralUrbanRuralRuralSemiurbanSemiurbanUrbanRuralUrbanSemiurbanRuralUrbanUrbanRuralSemiurbanUrbanRuralSemiurbanRuralRuralUrbanSemiurbanRuralRuralSemiurbanRuralUrbanSemiurbanRuralSemiurbanRuralSemiurbanRuralUrbanSemiurbanRuralSemiurbanRuralSemiurbanSemiurbanRuralSemiurbanSemiurbanSemiurbanUrbanRuralSemiurbanRuralSemiurbanSemiurbanUrbanSemiurbanSemiurbanRuralSemiurbanRuralRuralSemiurbanUrbanSemiurbanSemiurbanRuralUrbanRuralUrbanUrbanSemiurbanUrbanUrbanRuralUrbanSemiurbanRuralRuralUrbanSemiurbanSemiurbanSemiurbanRuralRuralUrbanRuralRuralRuralSemiurban'
 'NYYYYYNYYYNNNNYYNNNYNYYNYYYYYYYNYYYNNYYNYYYNNYNYYNNNYYYYYYYYYYYYYYYYYYYYYYYYYYYNYNYYYYNNYYNYNYNNNYYYNNYYNYYYYYYYYYYYYYNNYYYNYYNYYYYYYYYYYNYYNYYYYNYNNNYYYYYYYYYYYYYYYYNYYYNYYNNYYYYNYYYYYYYYYYYYNYYYYNYYYNYNNNYYYNNNNYYYNYYNYYYYYYYNYYNNNYYYYYNYYYYYNYNYNYYYYNYYYYYYYNNYNYYYYYYNYNNNYYYYYNNYYNYYYYYYNYNYNYYNYYYYYYYNYNYNYYNYNYNYYYYYYNNNNYYYNYNNYYNYYYYYYYN'] to numeric

In [25]:

df.dropna(subset=['Gender','Self_Employed','Dependents'], inplace=True)

In [26]:
data.isnull().sum()

NameError: name 'data' is not defined

# Question 2
- What is the distribution of the target (`Loan_Status`)?  
- Do you have any concerns on class imbalances?

In [10]:
df['Loan_Status'].value_counts()

Loan_Status
Y    249
N     98
Name: count, dtype: int64

Insert comments here

here there are 381 instances out of which 271 says yes and 110 says No, which clearly shows imbalanced outcome in loan status,which may result in biased model  .where model may favor to yes class and also may effect accuracy

# Question 3
- Create and print a list of the variables that you would treat as numerical and another list for the variables that you would treat as categorical.  
- Explain your choices.

In [11]:
numerical_vars = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']
categorical_vars = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']

Insert comments here

since numerical variables are numeric values , seperation is based on their datatypes
but it may change depending on the dataset

# Question 4
- Split the data into training and test sets.  
- Use 20% of the data for test and a random state of 120.

In [12]:
X = df[numerical_vars + categorical_vars]
y = df['Loan_Status']

In [13]:
# insert code here
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=120)

NameError: name 'x' is not defined

In [27]:
categorical_vars = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Property_Area']

# Question 5
- Create a pipeline to process the numerical data.  
- Create a pipeline to process the categorical data.  

Verify each pipeline contains the columns you would expect using a fit_transform on the training data, i.e., print the shapes of the fit_transforms for each pipeline.

In [28]:
# insert code here
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder  


numerical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
    ('standardize_num', StandardScaler())
])

In [29]:

categorical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('encoder', OneHotEncoder(drop='first', handle_unknown='ignore'))
])

In [30]:
numerical_data = numerical_pipeline.fit_transform(x_train[numerical_vars])
numerical_data .shape

NameError: name 'x_train' is not defined

In [31]:
categorical_vars = ['Loan_ID','Gender','Married','Dependents','Education','Self_Employed','Property_Area']

In [32]:
categorical_data = categorical_pipeline.fit_transform(x_train[categorical_vars])
print('Categorical data shape:',categorical_data.shape)

NameError: name 'x_train' is not defined

# Question 6
- Create a pipeline that combines the pre-processing and implements a logistic regression model.  
- Print the accuracy on the training set and the test set.
- Do you have any concerns of overfitting based on the differences between the two accuracy scores?

In [19]:
# insert code here
from sklearn.linear_model import LogisticRegression
from sklearn.compose import ColumnTransformer

# Combine numerical and categorical pipelines
preprocessor = ColumnTransformer([
    ('num', numerical_pipeline, numerical_vars),
    ('cat', categorical_pipeline, categorical_vars)
])

In [20]:

lr_pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('logreg', LogisticRegression())
])

In [21]:
lr_pipeline.fit(x_train, y_train)

NameError: name 'x_train' is not defined

In [22]:
train_acc = lr_pipeline.score(x_train, y_train)
test_acc = lr_pipeline.score(x_test, y_test)
print('Training accuracy:', train_acc)
print('Test accuracy:', test_acc)

NameError: name 'x_train' is not defined

Insert comments here

Yes, there is a notable difference between the training accuracy  and the test accuracy . Such a difference may indicate potential overfitting.
Overfitting occurs when a model learns the training data too well

# Question 7
What would you recommend as potential next steps for continuing to develop and evaluate a model?

Insert comments here

since we could see overfitting of data ,we should simplify the model and cross validate and Fine-tune the model settings, check its performance on different data slices, and understand which factors matter most. Combine different models for better predictions, and use various measures to make sure the model works well and keeps getting better